{% extends "labShare/loggedInBase.html" %}

{% block title_block %}
    Add a Friend!
{% endblock %}

{% block body_block %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <p>
            <input type="submit" class="submitCommentButton" style="margin-right:20px; float: none;" value="Add Friend" name="AddFriend">
            <input type="submit" class="submitCommentButton" style="margin-right:20px; float: none;" value="Delete Friend" name="DeleteFriend">
        </p>
    </form>
    {{ error }}
{% endblock %}
