<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}" sizes="16x2"/>
        <link rel="stylesheet" type="text/css" href="{% static "CSS/stylesheet.css" %}" />
        <script type="text/JavaScript" href = "{% static "javascript/script.js" %}"></script>
        <title>
            LabShare -
            {% block title_block %}
              Sharing your labs with friends!
            {% endblock %}
        </title>
    </head>


    <body>

        {% block header_block %}
          <img class = "logo" src="{% static "images/logo.png" %}" draggable="false" alt="LabShare Logo" height = "135" width = "460"/>

          <img class = "gif" src="{% static "images/beakergif1.gif" %}" alt="gif of beaker" height="190" width="230">
          <hr>
          {% if user.is_authenticated %}
            <div id="header_links">
              <ul>
                <li><a href="">My Labs</a></li>
                <li><a href="{% url 'profile' %}?next=/labShare/" class="HLB">My Profile</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/labShare/" class="HLB">Sign Out</a></li>
              </ul>
            </div>
          {% endif %}
        {% endblock %}

        {% block body_block %}
        {% endblock %}

        <!-- The below is commented just now as if you are logged in as a
             super user then the url's try to load and we have not created them
             yet, implement the url's once you have created the view for it -->
        <ul>
          {% if user.is_authenticated %}
              <h1>You are logged in!</h1>
              <a href="{% url 'auth_logout' %}?next=/labShare/">Log out</a>
          {% endif %}
        </ul>

    </body>


</html>
