<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}" sizes="16x2"/>
        <link rel="stylesheet" type="text/css" href="{% static "CSS/stylesheet.css" %}" />
        <script type="text/JavaScript" href = "{% static "javascript/script.js" %}"></script>
        <title>
            LabShare -
            {% block title_block %}
              Sharing your labs with friends!
            {% endblock %}
        </title>
    </head>


    <body>
        {% block header_block %}
          <img src="{% static "images/logo.png" %}" alt="LabShare Logo" height = "135" width = "450"/>
        {% endblock %}

        {% block body_block %}
        {% endblock %}
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'labs' %}">My Labs</a></li>
            <li><a href="{% url 'profile' %}">My Profile</a></li>
              <!-- still need to add sign out button -->
          {% endif %}
        </ul>
    </body>


</html>
