<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>
            LabShare - {% block title %}Sharing your labs with friends!{% endblock %}
        </title>
    </head>


    <body>
        {% block header %}
          <img src="{% static "images/logo.png" %}" alt="Labshare Logo" />
        {% endblock %}

        {% block body %}
          <ul>
            {% if user.is_authenticated %}
              <li><a href="{% url 'labs' %}">My Labs</a></li>
              <li><a href="{% url 'profile' %}">My Profile</a></li>
              <!-- still need to add sign out button -->
        {% endblock %}
    </body>


</html>
