{% extends "labShare/loggedInBase.html" %}

{% block title_block %}
    Enrol
{% endblock %}

{% block body_block %}
    <!--<form action="/labShare/enrol/" method="post">
        {% csrf_token %}

        <!-- {{ form.as_table}}  -->
        <p>
          <input type="text" class="course" name="course" value="Course Name">
        </p>
        <input type="submit" value="Enrol" name="submit">
        <br>

        {{ error }}
    </form>-->

    <form action="/labShare/enrol/" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="rHqfG14iPkWSCkDHOzF2dZGK8oHj9ySJcTucnMYuOJzVfQRKpTbIyRnHSqMpygiI">

        <label for="id_course">Course:</label>
        <input type="text" name="course" maxlength="128" required="" id="id_course">

        <label for="id_level">Level:</label>
        <input type="number" name="level" min="1" max="10" required="" id="id_level">

        <label for="id_labNumber">Labnumber:</label>
        <input type="number" name="labNumber" min="1" max="20" required="" id="id_labNumber">

        <input type="submit" value="Enrol" name="submit">

        <br>
    </form>

    <br>

    <table>
        <tr>
            <th>Course Level</th>
            <th>Course Name</th>
            <th>Labs</th>
        </tr>
        {% for courseLab in table %}
            <tr>
                <td>{{ courseLab.0.level }}</td>
                <td>{{ courseLab.0.name }}</td>
                <td>
                    {% for lab in courseLab.1 %}
                        {{ lab.labNumber }} 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
