{% extends "labShare/loggedInBase.html" %}
{% load staticfiles %}

<div class="profilePicture">
{% block picture %}{{ MEDIA_URL }}{{ profile.picture }}{% endblock %}
</div>
{% block body_block %}
  <h1>{{profile.name}}'s friends</h1>
  <hr style="width:80%">

  {% if not profile.friends.all %}
    <h2>This user has no friends!</h2>
  {% endif %}

  <div class="bodyDiv">
    {% for friend in profile.friends.all %}
      <a href="{% url 'profile' friend.user.username %}">
        <div class="card">
          <div class="cardImage">
            <img src="{{ MEDIA_URL }}{{ friend.picture }}" alt="{{ friend.name }}'s picture">
          </div>

          <div class="details">
            <div class="center">
              <h1>{{ friend.name }} <br> <span> {{ friend.status }} </span> </h1>
              <p>{{ friend.bio }}</p>
              <ul>
                <!-- I do not know how the external social media works so I haven't put this in yet -->
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}

    {% if pageUser == user %}
      <div class="card">
        <a href="{% url 'addFriend' %}">
          <h3><font color="FFFFFF">Add or delete a friend</font></h3>
        </a>
      </div>
    {% endif %}
    
  </div>
{% endblock %}
