{% extends 'labShare/base.html' %}

{% block title_block %}
  Index
{% endblock %}

{% block body_block %}
  <div>
    <h1 class="welcome">Welcome to LabShare!</h1>
  </div>
  <form>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="password" placeholder="Password"><br>
  </form>
  <!--<button class="mouse-cursor-gradient-tracking" type="button">Login</button>-->
  <button class="mouse-cursor-gradient-tracking" type="button">
  <span> Login </span>
</button>
  <div>
    <h2 class="text">Don't have an account?</h2>
  </div>
  <a href="" class = "sign-up">Sign Up</a>
{% endblock %}
