{% extends "labShare/loggedInBase.html" %}

{% block title %}
    LabShare - Lab X
{% endblock %}


{% block body_block %}

<section id="comments">
  <div id="respond", class="container">
    <form action="post_comment.php" method="post" id="commentform">

  <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>

  <!-- comment_post_ID value hard-coded as 1 -->
  <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
  <input name="submit" type="submit" value="Submit comment" />

    </form>
  </div>
</section>

{% endblock %}
