{% extends "labShare/loggedInBase.html" %}

{% block title_block %}
  {{ lab.course.name }} - Lab {{ lab.labNumber }}
{% endblock %}

<!-- This is a work in progress and can be ignored -->
<!-- People in Labs - Sidebar -->
{% block sidebar_block %}
  {% for user in lab.peopleInLab.all %}
    <!-- <h1>{{ user }}</h1> -->
  {% endfor %}
{% endblock %}

{% block body_block %}
  <div class="box" style="margin-top: -120px; border-radius:50%">
    {{ lab.course.name }}
    Lab {{ lab.labNumber }}
  </div>

  <!-- Javascript for the "Lab X" circle -->
  <script type="text/javascript">colour_randomiser(".box");</script>

  <!-- List of users in the lab -->
  <div class="userList" >
    <!-- Tutors -->
    <div class="tutorList" style=" clear: both; float:none; text-align:center; margin: 0; padding: 0; display: inline-block; ">
      <strong><p style="font-size: 35px; letter-spaceing: 6px;">Tutors: </p style="text-align:center"></strong>
      {% for person in lab.peopleInLab.all %}
        {% if person.status == "Tutor" %}
          <ul style="text-align: left;">
            <li style="text-align: left;text-decoration: none; display: inline-block; font-size: 25px; letter-spaceing: 6px;">  {{ person }} </li>
          </ul>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Students -->
  <!--  <div class="studentList" style="float:right; margin-right:10%; display: inline-block; text-align: right;">-->
  <!--    <strong><p style="font-size: 35px; letter-spaceing: 6px;" >Students: </p style="text-align:center"></strong>-->
  <!--    {% for person in lab.peopleInLab.all %}-->
  <!--      {% if person.status == "Student" %}-->
  <!--      <ul style="text-align: left;">-->
  <!--        <li style="text-decoration: none; display: inline-block; font-size: 25px; letter-spaceing: 6px;">  {{ person }} </li>-->
  <!--      </ul>-->

  <!--      {% endif %}-->
  <!--    {% endfor %}-->
  <!--  </div>-->
  </div>

  <!-- Comment submission -->
  <form style="clear:both;" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Comment text input -->
    <p>
      <textarea name="content" required="True" id="id_content" class="commentSubmission" placeholder='Please enter a comment'></textarea>
      <!-- Submit Button -->
      <input type="submit" value="Submit Comment" class="submitCommentButton">
    </p>

    <!-- File upload -->
    <p style="margin-top:10px;">
      Upload File:
      <input type="file" name="attachedFile" onchange="previewFile()" id="id_file">
    </p>

  </form>

  <!-- Visual line break between comment submission and comments -->
  <hr style="margin-top:0%; width: 80%;">


  <!-- The following displays all the comments in a discussion page -->
  {% for post in posts %}
    <div class="comment">
      <img id="commentUserImage" src="{{ MEDIA_URL }}{{ post.author.picture }}" alt="User Image"/>
      <p style="color:#4cffff">{{ post.author.name }} • {{ post.author }} • {{ post.timePosted }}</p>
      <h3>{{ post.content }}</h3>
      <p><a href="{{ MEDIA_URL }}{{ post.attachedFile }}" style="color: #5e9bff">{{ post.attachedFile }}</a></p>
    </div>
  {% endfor %}

{% endblock %}
