{% extends "labShare/loggedInBase.html" %}

{% block title %}
    LabShare - Lab Posts
{% endblock %}

{% block body_block %}

  <H2>Lab X - Discussion Page</H2>

  <!-- Comment submission -->
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- https://stackoverflow.com/questions/5827590/css-styling-in-django-forms -->
    <!-- Using form.as_p -->
    <!-- {{ form.as_p }}
    <p><input type="submit" value="Submit Comment" class="submitCommentButton"></p> -->

    <!-- Using the form code to implement CSS properly -->
    <p>
      <label for="id_content">Enter Comment:</label>
    </p>
    <!-- Comment text input -->
    <p>
      <textarea name="content" required="True" id="id_content" class="commentSubmission" placeholder='Please enter a comment'></textarea>
    </p>
    <!-- File upload -->
    <p>
      <label for="id_file">Upload File:</label>
      <input type="file" name="attachedFile" onchange="previewFile()" id="id_file" style="margin-top:10px;">
    </p>
    <!-- Submit Button -->
    <p>
      <input type="submit" value="Submit Comment" class="submitCommentButton">
    </p>
  </form>


  <div>
    <h1>All Comments</h1>
  </div>

  <!-- The following displays all the "comments" in a discussion page -->
  {% for post in posts %}
    <div class="comment">
      <p style="color:#4cffff">{{ post.author.name }} • {{ post.author }} • {{ post.timePosted }}
      </p>
      <h3>{{ post.content }}</h3>
      <p>{{ post.attachedFile }}</p>
    </div>
  {% endfor %}

{% endblock %}
