{% extends "labShare/loggedInBase.html" %}

{% block title %}
    LabShare - Lab Posts
{% endblock %}

{% block body_block %}

  <H2>Lab X - Discussion Page</H2>
  <form method="POST">
    {% csrf_token %}
    <!-- https://stackoverflow.com/questions/5827590/css-styling-in-django-forms -->
    <!-- {{ form.as_p }} -->
      <input type="hidden" name="csrfmiddlewaretoken" value="Md12pAeMMYsnJK0fjvFcUhUvIIxvCQFTpPQF7gekqFgERuBmBvonecNtxoQTNHrx">
      <p>
        <label for="id_content">Enter Comment:</label>
        <textarea name="content" cols="50" rows="2" required="" id="id_content" placeholder="Speak out your mind!" font-size=20px></textarea>
        <input type="submit" value="Submit Comment" class="submitComment">
      </p>
  </form>





  <div>
    <h1>All Comments</h1>
  </div>

  <!-- Create css class "comment information" and "comment content" -->
  <!-- The following displays all the "comments" in a discussion page -->
  {% for post in posts %}
    <div class="comment">
      <p style="color:#caa0db">{{ post.author }} - {{ post.timePosted }}</p>
      <h3>{{ post.content }}</h3>
      <!-- <p>{{ post.text|linebreaksbr }}</p> -->

    </div>
  {% endfor %}

{% endblock %}
