{% extends "labShare/loggedInBase.html" %}

{% block title %}
    LabShare - Lab Posts
{% endblock %}

{% block body_block %}

  <H2>Create a new post</H2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit Post" class="blueButton">
  </form>

  <div>
    <h1>Posts</h1>
  </div>

  <!-- Create css class "comment information" and "comment content" -->
  {% for post in posts %}
    <div>
      <p>{{ post.author }} || {{ post.timePosted }}</p>
      <h3>{{ post.content }}</h3>
      <p>{{ post.text|linebreaksbr }}</p>

    </div>
  {% endfor %}

{% endblock %}
