{% extends 'labShare/loggedInBase.html' %}


{% block body_block %}

<span style="font-size: 60px;">My Labs</span>
<div class="subject">
  <span class="text">Computing Science</span>



  <div id="subject1">
        <!-- Below is an example of how I have made the lab url's dynamic -->
        <a href="{% url 'lab' 'CS' 1 %}"><div class="box">Lab 1</div></a>
        <a href="#"><div class="box">Lab 4</div></a>
        <a href="#"><div class="box">Lab 6</div></a>
        {% if user == pageUser %}
        <a href="{% url 'enrol' %}"><div class="box" id="add"> + </div></a>
        {% endif %}

  </div>
</div>
<hr>
<div class="subject">
  <span class="text">Economics</span>
  <div id="subject2">
        <a href="#"><div class="box">Lab 2</div></a>
        <a href="#"><div class="box">Lab 7</div></a>
        {% if user == pageUser %}
        <a href="{% url 'enrol' %}"><div class="box" id="add"> + </div></a>
        {% endif %}

  </div>
</div>
<hr>
<div class="subject">
  <span class="text">Physics</span>

  <div id="subject3">
        <a href="#"><div class="box">Lab 4</div></a>
        {% if user == pageUser %}
        <a href="{% url 'enrol' %}"><div class="box" id="add"> + </div></a>
        {% endif %}
  </div>
</div>

<hr>

{% endblock %}
