<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" lang="en">

    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}" sizes="16x2"/>
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Asap|Comfortaa|Dosis|Maven+Pro|Muli|Poppins|Quicksand|Rubik" rel="stylesheet">

    <script type="text/javascript" src="{% static "javascript/script.js" %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>
      LabShare -
      {% block title_block %}
        Sharing your labs with friends!
      {% endblock %}
    </title>
  </head>

  <body>
    <nav>
        {% url 'register-profile' as no_nav %}
        {% url 'register' as no_nav2 %}
        {% if request.get_full_path != no_nav and request.get_full_path != no_nav2 %}
        {% if user.is_authenticated %}
          <a href="{% url 'profile' user.username %}"><img class="logo" src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="330" height="100"> </a>
        {% else %}
          <img class="logo" src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="330" height="100">
        {% endif %}
            {% if user.is_authenticated %}
                <ul>
                  <li id= "linkRef"><a href="{% url 'labList' user.username %}" id="link"><i class="fas fa-flask" class="labsButton"></i> My Labs</a></li>
                  <li id= "linkRef"><a href="{% url 'profile' user.username %}" id="link"><i class="far fa-user"></i>  My Profile</a></li>
                  <li id= "linkRef"><a href="{% url 'friendsList' user.username %}" id="link"> <i class="fas fa-users"></i>  My Friends</a></li>
                  <li id= "linkRef"><a href="{% url 'auth_logout' %}?next=/labShare/" id="link"><i class="fas fa-sign-out-alt"></i>  Sign Out</a></li>
                </ul>
            {% endif %}
        {% else %}
            <a href="{% url 'enter' %}">
            <img class="logo" src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="330" height="100">
            </a>
        {% endif %}
      <div style="clear:both;"></div>
    </nav>

    <div class="responsive-bar" style="border-bottom: 3px solid #fff;">
      <img  src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="330" height="100">
      {% if user.is_authenticated %}
      <button class="purpleButton"><i class="fa fa-bars" aria-hidden="true"> </i></button>
      {% endif %}
      <div style="clear: both;"></div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".purpleButton").click(function(){
          $("nav").slideToggle(500);
          $("icons").slideToggle(500);
        })
      })
    </script>

    <div class="container">
      <!-- NOTE: I have changed this to be dynamic so I can dynamically use profile pictures
                 Use the block in extending templates with the path to include a picture -->
      {% url 'profile' pageUser.username as the_url %}
      {% url 'labList' user.username as the_url2 %}
      {% url 'friendsList' user.username as the_url3 %}
      {% if request.get_full_path == the_url or request.get_full_path == the_url2 or request.get_full_path == the_url3 %}
        <img src="{% block picture %}{% endblock %}" draggable="false">
      {% endif %}

      <div>
        {% block sidebar_block %}
        {% endblock %}
      </div>

      <div class="elements">
        {% block body_block %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
