<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" lang="en">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}" sizes="16x2"/>
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
    <script type="text/javascript" src="{% static "javascript/script.js" %}"></script>

    <title>
      LabShare -
      {% block title_block %}
        Sharing your labs with friends!
      {% endblock %}
    </title>
  </head>
  <!-- <header>
    <div class="navbar">
    <img src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="300" height="225">
    {% if user.is_authenticated %}
      <ul class="nav">
        <li class="hoverUnderLine"><a href="{% url 'labList' user.username %}" id="link">My Labs</a></li>
        <li class="hoverUnderLine"><a href="{% url 'profile' user.username %}" id="link">My Profile</a></li>
        <li class="hoverUnderLine"><a href="{% url 'auth_logout' %}?next=/labShare/" id="link">Sign Out</a></li>
      </ul>
    {% endif %}
    </div>
  </header> -->
  <body>
    <nav>
      <img class="logo" src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="300" height="100">
      <ul>
        <li id= "linkRef"><a href="{% url 'labList' user.username %}" id="link">My Labs</a></li>
        <li id= "linkRef"><a href="{% url 'profile' user.username %}" id="link">My Profile</a></li>
        <li id= "linkRef"><a href="{% url 'auth_logout' %}?next=/labShare/" id="link">Sign Out</a></li>
      </ul>
      <div style="clear:both;">
      </div>
    </nav>
    <div class="responsive-bar">
      <img  src="{% static "images/logo.png" %}" alt="logo" draggable="false" width="300" height="100">
      <h3 class="menu">Menu</h3>
      <div style="clear: both;"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".menu").click(function(){
          $("nav").slideToggle(500);
        })
      })
    </script>
    <div class="container">
      <!-- NOTE: I have changed this to be dynamic so I can dynamically use profile pictures
                 Use the block in extending templates with the path to include a picture -->
      {% url 'profile' user.username as the_url %}
      {% if request.get_full_path == the_url %}
        <img src="{% block picture %}{% endblock %}" draggable="false">
      {% endif %}

      <div class="elements">
        {% block body_block %}
        {% endblock %}
      </div>

    </div>
  </body>

</html>
