{% extends 'labShare/loggedInBase.html' %}

{% block body_block %}
<div class="topRight">
  <h2>Lab Groups</h2>
</div>

<div class="subject">
  <span class="subjectName">Subject Name</span>
  <ul class="labs">
    <li>Lab1</li>
    <li>Lab2</li>
    <li>Lab3</li>
  </ul>
</div>

<div class="subject">
  <span class="subjectName">Subject Name</span>
  <ul class="labs">
    <li>Lab1</li>
    <li>Lab2</li>
  </ul>
</div>

<div class="subject">
  <span class="subjectName">Subject Name</span>
  <ul class="labs">
    <li>Lab1</li>
  </ul>
</div>
{% endblock %}
