{% extends 'labShare/loggedInBase.html' %}


{% block body_block %}

<span style="font-size: 60px;">My Labs</span>
<div class="subject">
  <span class="text">Computing Science</span>

  <div id="subject1">
        <a href="#"><div class="box">Lab 1</div></a>
        <a href="#"><div class="box">Lab 4</div></a>
        <a href="#"><div class="box">Lab 6</div></a>
  </div>
</div>
<hr>
<div class="subject">
  <span class="text">Economics</span>
  <div id="subject2">
        <a href="#"><div class="box">Lab 2</div></a>
        <a href="#"><div class="box">Lab 7</div></a>
  </div>
</div>
<hr>
<div class="subject">
  <span class="text">Physics</span>

  <div id="subject3">
        <a href="#"><div class="box">Lab 4</div></a>
  </div>
</div>
<hr>

{% endblock %}
