{% extends "labShare/loggedInBase.html" %}
{% block title_block %}
    My Profile
{% endblock %}

<!-- Currently I'm figuring out how to get images from profile_images folder to load
     If anyone can do this quickly please tell me :) -->
<div class="profilePicture">
{% block picture %}{{ MEDIA_URL }}{{ profile.picture }}{% endblock %}
</div>

{% block body_block %}
  <div class="grid">
    <div class="mainSection">
      <div class="name">{{profile.name}}</div>
      <div class="status">{{profile.status}} - {{ profile.user.username}}</div>
      <div class="email">{{profile.user.email}}</div>
      <div class="bio"><p>{{profile.bio}}</p></div>
      <div class="degree"> <p>{{profile.degree}}</p></div>
      <div class="uni"> <p>{{profile.university}}</p></div>
      <div class="editProfileButton">
        {% if pageUser == user %}
          <a href="{% url 'edit_profile' %}"> <button class="btn" type="button" name="button">  <i class="fas fa-edit"></i> Edit Profile </button> </a>
        {% endif %}
      </div>
    </div>
    <div class="friendsSection">
      <div class="friends"> <span> Friends List </span> </div>
      <ul>
        {% if not profile.friends.all %}
          <li>This user does not have any friends!</li>
        {% endif %}
        {% for friend in profile.friends.all %}
          <li>{{ friend.user.username }} - {{ friend.name }}</li>
        {% endfor %}
      </ul>
      <div class="friendsButton">
        <a href="{% url 'friendsList' pageUser.username %}"> <button class="btn" type="button" name="button">    <i class="fas fa-users"></i> Friends </button> </a>
      </div>
    </div>
    <div class="labsSection">
      <div class="labs"> <span> Courses </span> </div>
      <ul>
        {% if not profile.courses.all %}
          <li>This user is not enrolled in any courses!</li>
        {% endif %}
        {% for course in profile.courses.all %}
          <li>{{ course.name }}</li>
        {% endfor %}
      </ul>
      <div class="labsButton">
        <a href="{% url 'labList' pageUser.username %}"> <button class="btn" type="button" name="button"><i class="fas fa-flask" class="labsButton"></i> Labs </button> </a>
      </div>
    </div>
    <div class="socialMediaSection">
      <div class="links"> <span>Links</span></div>
        {% if not hasLinks %}
          <h3>This user has no social media links!</h3>
        {% endif %}
        <ul>
              {% if profile.github != "" %}
                <li id="github"><a href="{{ profile.github }}"><i class="fab fa-github" aria-hidden="true"></i></a></li>
              {% endif %}

              {% if profile.facebook != "" %}
                <li id="facebook"><a href="{{ profile.facebook }}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              {% endif %}

              {% if profile.twitter != "" %}
                <li id="twitter" ><a href="{{ profile.twitter }}"><i class= "fab fa-twitter" aria-hidden="true"></i></a></li>
              {% endif %}

              {% if profile.linkedIn != "" %}
                <li id="linkedin" ><a href="{{ profile.linkedIn}}"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              {% endif %}

              {% if profile.instagram != "" %}
                <li id="instagram" ><a href="{{ profile.instagram }}"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              {% endif %}
        </ul>
  </div>
{% endblock %}
