{% extends "labShare/loggedInBase.html" %}

{% block title_block %}
    My Profile
{% endblock %}

<!-- Currently I'm figuring out how to get images from profile_images folder to load
     If anyone can do this quickly please tell me :) -->
{% block picture %}{{ MEDIA_URL }}{{ profile.picture }}{% endblock %}

{% block body_block %}

    <h1>{{ pageUser.username }} - {{ profile.name }}</h1>
    <br>
    <h4>Bio: {{ profile.bio }}</h4>
    <br>
    <h4>University: {{ profile.university }}</h4>
    <h4>Major: {{ profile.degree }}</h4>
    <br>
    <!-- <h4 class="labList">lab Groups:</h4>

    <ul class="listItems">
      <li>lab3</li>
      <li>lab8</li>
      <li>lab10</li>
    </ul> -->

    <a href="{% url 'labList' pageUser.username %}" id="link">{{ pageUser.username }}'s Labs</a><br>
    <a href="{% url 'edit_profile' user.username %}" id="link">Edit Profile</a>


{% endblock %}
