{% extends "labShare/loggedInBase.html" %}
{% load staticfiles %}

{% block title_block %}
    Profile Information
{% endblock %}

{% block body_block %}
    <h1>Add some personal information for your profile!</h1>
    {% if form.errors %}
      <h4>Please ammend the following fields:</h4>
      <ul class="form-errors" style="float:none;padding-right:25px;">
    {% for error in form.errors %}
        <li style="color:white; list-style-type:none;">{{ error }}</li>
    {% endfor %}
      </ul>
    {% endif %}

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
          <label for="id_status">Position:</label><br>
          <select class="setup_dropdown" name="status">
            <option value="Student">Student</option>
            <option value="Tutor">Tutor</option>
          </select>
        </p>

        <p>
           <label for="id_name">Name:</label><br>
           <input type="text" name="name" maxlength="128" required="" id="id_name" class="setup_profile">
         </p>

        <p>
          <label for="id_picture">Picture:</label><br>
           <input type="file" name="picture" onchange="previewFile()" id="id_picture" style="margin-top:10px;"><br>
           <img id="blah" src="#" alt="your image" onerror="this.src='{% static "images/user_image.png" %}'"/>
         </p>

        <p>
          <label for="id_bio">Bio:</label><br>
           <textarea name="bio" id="id_bio" class="setup_bio" rows="10" tabindex="4"></textarea>
         </p>

        <p>
          <label for="id_degree">Degree:</label><br>
           <input type="text" name="degree" maxlength="128" id="id_degree" class="setup_profile">
         </p>

        <p>
          <label for="id_university">University:</label><br>
           <input type="text" name="university" maxlength="128" id="id_university" class="setup_profile">
         </p>
         <h2>If you want to include any social media links do so below!</h2>
         <p>
             <label for="id_facebook">Facebook:</label><br>
             <input type="text" name="facebook" maxlength="300" required="" id="id_facebook" class="setup_profile">
         </p>
         <p>
             <label for="id_instagram">Instagram:</label><br>
             <input type="text" name="instagram" maxlength="300" required="" id="id_instagram" class="setup_profile">
         </p>
         <p>
             <label for="id_twitter">Twitter:</label><br>
             <input type="text" name="twitter" maxlength="300" required="" id="id_twitter" class="setup_profile">
         </p>
         <p>
             <label for="id_linkedIn">LinkedIn:</label><br>
             <input type="text" name="linkedIn" maxlength="300" required="" id="id_linkedIn" class="setup_profile">
         </p>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
