{% extends "labShare/loggedInBase.html" %}

{% block title %}
    Profile Information
{% endblock %}

{% block body_block %}
    <h1>Add some personal information for your profile!</h1>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
      <input type="hidden" name="csrfmiddlewaretoken" value="zK3oB0a7k9FYIh4jz682cDNM4pCVds8eBu9D8rImrgoDnQOUGWU11AB8XgzyhPED">
        <p>
          <label for="id_isStudent">Position:</label><br>
          <select class="setup_dropdown">
            <option value="Student">Student</option>
            <option value="Tutor">Tutor</option>
          </select>
        </p>

        <p>
           <label for="id_name">Name:</label><br>
           <input type="text" name="name" maxlength="128" required="" id="id_name" class="setup_profile">
         </p>

        <p>
          <label for="id_picture">Picture:</label>
           <input type="file" name="picture" onchange="readURL(this);" id="id_picture"><br>
           <img id="blah" src="#" alt="your image" />
         </p>

        <p>
          <label for="id_bio">Bio:</label><br>
           <textarea name="bio" id="id_bio" class="setup_bio" rows="10" tabindex="4"></textarea>
         </p>

        <p>
          <label for="id_degree">Degree:</label><br>
           <input type="text" name="degree" maxlength="128" id="id_degree" class="setup_profile">
         </p>

        <p>
          <label for="id_university">University:</label><br>
           <input type="text" name="university" maxlength="128" id="id_university" class="setup_profile">
         </p>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
