{% extends "labShare/loggedInBase.html" %}
{% load staticfiles %}

{% block title %}
    Edit Profile
{% endblock %}

{% block body_block %}
    <h1 style="text-decoration:underline;">Edit Profile</h1>
    {% if form.errors %}
      <h4>Please ammend the following fields:</h4>
      <ul class="form-errors" style="float:none;padding-right:25px;">
    {% for error in form.errors %}
        <li style="color:white; list-style-type:none;">{{ error }}</li>
    {% endfor %}
      </ul>
    {% endif %}

    <!-- <form action="" method="post" enctype="multipart/form-data">

      {{ form.as_p }}
      <input type="submit" value="Update" />
    </form> -->

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_status">Status:</label><br>
            <input type="text" name="status" value="{{ profile.status }}" maxlength="7" required="" class="setup_profile" id="id_status">
        </p>
        <p>
            <label for="id_name">Name:</label><br>
            <input type="text" name="name" value="{{ profile.name }}" maxlength="128" required="" class="setup_profile" id="id_name">
        </p>
        <p>
            <label for="id_picture">Picture Currently:</label>
            <a href="{{ MEDIA_URL }}{{ profile.picture }}">profile_images/media_209689_en_QB9Ectt.jpg</a>
            <input type="checkbox" name="picture-clear" id="picture-clear_id">
            <label for="picture-clear_id">Clear</label><br>
            Change:
            <input type="file" name="picture" id="id_picture">
        </p>
        <p>
            <label for="id_bio">Bio:</label><br>
            <input type="text" name="bio" value="{{ profile.bio }}" maxlength="128" class="setup_profile" id="id_bio">
        </p>
        <p>
            <label for="id_degree">Degree:</label><br>
            <input type="text" name="degree" value="{{ profile.degree }}" maxlength="128" class="setup_profile" id="id_degree">
        </p>
        <p>
            <label for="id_university">University:</label><br>
            <input type="text" name="university" value="{{ profile.university }}" maxlength="128" class="setup_profile" id="id_university">
        </p>
        <h2>If you want to include any social media links do so below!</h2>
        <p>
            <label for="id_facebook">Facebook:</label><br>
            <input type="text" name="facebook" value="{{ profile.facebook }}" maxlength="300" class="setup_profile" id="id_facebook">
        </p>
        <p>
            <label for="id_instagram">Instagram:</label><br>
            <input type="text" name="instagram" value="{{ profile.instagram }}" maxlength="300" class="setup_profile" id="id_instagram">
        </p>
        <p>
            <label for="id_twitter">Twitter:</label><br>
            <input type="text" name="twitter" value="{{ profile.twitter }}" maxlength="300" class="setup_profile" id="id_twitter">
        </p>
        <p>
            <label for="id_linkedIn">LinkedIn:</label><br>
            <input type="text" name="linkedIn" value="{{ profile.linkedIn }}" maxlength="300" class="setup_profile" id="id_linkedIn">
        </p>

      <input type="submit" value="Update">
    </form>
{% endblock %}
