{% extends "labShare/base.html" %}
<!-- !!!!!!!!! This can not extend from loggedInBase.html as the user is not logged in yet
     !!!!!!!!! they are only just registering!!!!!!!!!!!!! -->

{% block body_block %}
    <h1 style="text-decoration:underline">Registration</h1>
    <form action="." method="post">
        {% csrf_token %}

        <!-- This is stolen from {form.as_p} (registration-redux) -->

            <label class="required" for="id_username">
                Matric Number:
            </label><br>
            <input type="text" name="username" autofocus length="8" required id="id_username"
              placeholder="Required"/>

        <p>
            <span class="helptext">
                Matric Format: 7 digits followed by first letter of surname.
            </span>
        </p>
        <p class="required">
            <label class="required" for="id_email">
                E-mail:
            </label><br>
            <input type="email" name="email" required id="id_email" placeholder="Required"/>
        </p>
        <p class="required">
            <label class="required" for="id_password1">
                Password:
            </label><br>
            <input type="password" name="password1" required id="id_password1" placeholder="Required"/>
        </p>
        <p class="required">
            <label class="required" for="id_password2">
                Password confirmation:
            </label><br>
            <input type="password" name="password2" required id="id_password2" placeholder="Required"/>
        </p>

        <div>
          <ul class="registerList">
              <li>
                  Your password can&#39;t be too similar to your other personal information.
              </li>
              <li>
                  Your password must contain at least 8 characters.
              </li>
              <li>
                  Your password can&#39;t be a commonly used password.
              </li>
              <li>
                  Your password can&#39;t be entirely numeric.
              </li>
          </ul>
        </div>

        <p>
          <input type="submit" value="Submit" class="submit">
        </p>

    </form>
{% endblock %}
