{% extends "labShare/loggedInBase.html" %}

{% block body_block %}
    <h1 style="text-decoration:underline">Registration</h1>
    <h4 style="color:#ff1a1a;">All * marked fields are required</h4>

    {% if form.errors %}
      <h4>Please ammend the following fields:</h4>
      <ul class="form-errors" style="float:none;padding-right:25px;">
        {% for error in form.errors %}
          <li style="color:white; list-style-type:none;">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="." method="post">
      {% csrf_token %}
        <p class="required">
          <br><label class="required" for="id_username">
            Matric Number:<span style="color:#ff1a1a">*</span>
          </label><br>
          <input type="text" name="username" autofocus length="8" required id="id_username"
                 placeholder="Matric Number"/>
        </p>

        <p>
            <span class="helptext">
                Matric Format: 7 digits followed by first letter of surname.
            </span>
        </p>

        <p class="required">
            <label class="required" for="id_email">
                E-mail:<span style="color:#ff1a1a">*</span>
            </label><br>
            <input type="email" name="email" required id="id_email" placeholder="E-mail Address"/>
        </p>

        <p class="required">
            <label class="required" for="id_password1">
                Password:<span style="color:#ff1a1a">*</span>
            </label><br>
            <input type="password" name="password1" required id="id_password1" placeholder="Password"/>
        </p>

        <p class="required">
            <label class="required" for="id_password2">
                Password confirmation:<span style="color:#ff1a1a">*</span>
            </label><br>
            <input type="password" name="password2" required id="id_password2" placeholder="Password"/>
        </p>

        <div>
          <ul class="registerList">
              <li>
                  Your password must contain at least 8 characters.
              </li>
              <li>
                  Your password must contain both letters and numbers.
              </li>
              <li>
                  Your password shouldn&#39;t be too similar to your other personal information.
              </li>
              <li>
                  Your password can&#39;t be a commonly used password.
              </li>
          </ul>
        </div>

        <p>
          <input type="submit" value="Submit" class="submit">
        </p>
    </form>
{% endblock %}
