*
{
  padding: 0;
  margin: 0;
}
html {
  background: url("backgrounds/mountains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body
{
  background-color: rgba(38,40,49,0.95);
}
img {
  padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: fadein 6s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.wrapper
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.text1
{
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  font-family: "Arial";
  font-size: 60px;
  padding-bottom: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  position: relative;
  animation: text 3s 1;
}
.text1:hover
{
  color: #2379f7;
}

.text2
{
  text-decoration: none;
  font-size: 30px;
  color: rgb(232, 232, 232);
}

.text1:hover
{
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


@keyframes text {

  0%{
    text-decoration: none;

    /*color:black;*/
    margin-bottom:-40px;
  }
  30%
  {
    text-decoration: none;
    color: #2379f7;
    letter-spacing: 25px;
    margin-bottom: -20px;
  }
  85%
  {
    color: #4cffff;
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

}
.wrapper span
{
  text-transform: uppercase;
  color: rgba(71,81,91,0.95);
  display:block;
}
