html{
  /*background-color: #313440;*/
  margin: 0;
  padding: 0;
}
* {
  font-family: "Dosis";

  z-index: .5;
}
html {
  background: url("backgrounds/switzerand4k.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header
{
  width: 100%;
  height: 110px;
  background-color: rgba(38,40,49,0.95);
  background-color: #242730;
  clear: all;
  border-bottom: 5px solid white;
  position: fixed;
  top: 0;
} */

.navbar img
{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: -12px;
  max-width: 35%;
  height: auto;
  z-index: 1;
}
/* ul{
width: auto;
float: right;
margin-top: -2px;
} */
/* .navbar{
  width: 100%;
  list-style: none;
  padding: 20px 0px 20px 0px;
  z-index: 1;
} */
#link{

  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 5px;
}

body
{
  margin: 0;
  padding: 0;
}

#link:hover{
  color: #4cffff;
  transition: 0.3s;
}
nav
{
  width: 100%;
  background-color: rgba(38,40,49,0.95);
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
}
#linkRef
{
  text-align: center;
  text-decoration: none;
  padding: 35px;
  margin-top: 20px;
  display: inline-block;
}
nav img
{
  float: left;
  padding: 15px;
}
nav ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  float: right;
  display: inline-block;
  text-align: center;
}
nav ul li:not(:last-child)
{
  border-right: 2px dashed #d2d5e4;
}
.responsive-bar
{
  width: 100%;
  background-color: rgba(38,40,49,0.95);
  padding: 10px 30px;
  box-sizing: border-box;
  display: none;
}
.responsive-bar img
{
  margin: 0;
  padding: 3px 0;
  color: #fff;
  float: left;
}
.responsive-bar h3
{
  margin: 0;
  padding: 0;
  color: #fff;
  float: right;
  padding: 5px 10px;
  background-color: #f2184f;
  text-transform: uppercase;
  cursor: pointer;
}
.responsive-bar button
{
float:right;
 vertical-align: middle;
  margin: 0;
  /* padding: 15px; */
  margin-top:45px;
  margin-bottom:10px;

}
@media (max-width:900px)
{
  nav
  {
    display: none;
  }
  .responsive-bar
  {
    display: block;
  }
  nav img
  {
    display: block;
    float: none;
  }
  nav ul
  {
    float: none;
    display: block;
    border: none;

  }
  nav ul li:not(:last-child)
  {
    border-right: 2px none #d2d5e4;
  }
  nav ul li
  {
    text-align: center;
    padding: 15px 20px;
    display: block;
    border: none;
  }
  #linkRef
  {
    padding: 15px;
    display: block;
    margin-top: 0px;

  }
  img.logo
  {
    display: none;
  }

  @media (min-width:900px)
  {
    nav
    {
      display: flex;
    }
    .responsive-bar
    {
      display: none;
    }
  }

}
/* .nav > li{
  margin-top: 22px;
  display: inline-block;
  padding-right: 40px;
} */
.current
{
  color: #4cffff;
}
.container{
  min-width: 150px;
  margin:150px 0 0;
  width: 90%;
  height: auto;
  padding-bottom: 5%;
  text-align: center;
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 25px 25px;
  margin: 10% auto;
  clear: both;
  margin-top: 200px;
}

.container img
{
  object-fit: cover;
  width: 240px;
  height: 240px;
  margin-top: -110px;
  margin-bottom: 30px;
  border-radius: 999em;
}
.container img:hover
{
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.elements
{
  font-family: "Arial";
  letter-spacing: 2px;
  color: white;
}
.labList
{
  float:left;
  padding-left: 20%;
}
.listItems
{
  float: right;
  padding-right: 20%;
  padding-top: 20px;
}

.helptext {
  color: white;
}

.submit
{
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.required{
  position: static;
}

/* Comment Stream CSS */

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}

.comment {
  margin: 20px 0px 20px 20px;
}

#subject1 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject1 .box {
  text-decoration:none;
  background-color:#9e2842;
}
#subject2 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject2 .box {
  text-decoration:none;
  background-color:#25876C;
}
#subject3 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject3 .box {
  text-decoration:none;
  background-color:#90d1df;
}

.text{
  font-size: 65px;
  float: left;
  margin-top: 2%;
  margin-left: 20px;
}
#add{
  font-size: 80px;
}
.box {
  text-decoration: none;
  justify-content: space-between;
  color: white;
  border-radius: 3%;
  display: inline-block;
  height: 270px;;
  width:  250px;
  margin:6.7%;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 270px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  z-index;
  padding: 0 1rem;
  transition: opacity 1.2s;
}
.box:hover{
  opacity: 1 !important;
  box-shadow: inset 0 0 0 5px white;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);

}
.labListItems:hover .box:not(:hover)
{
  opacity: .7;
}

hr
{
  width: 90%;
}

/* .hoverUnderLine{
  display: inline-block;
  text-align: center;
  position: relative;
  color: #9b59b6;
}
.hoverUnderLine::after {
  content: ' ';
  position: absolute;
  width: 77%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9b59b6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hoverUnderLine:hover::after {
  transform: scaleX(1);
  transform-origin:bottom left;
} */

input {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  align-self: center;
}

#id_username {
  align-self: center;
}

.registerList {
  text-align: center;
  /* list-style-type: none; */
  align-self: center;
  float: none;
}

label {
  margin-left:
}

.redtext {
  colour: rgb(214, 0, 0)
  /* font-size: 10 */
}

.setup_profile{
  width:25%;
  padding:10px;
}

.setup_bio{
  width:30%;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  padding: 10px;
}

.setup_dropdown {
  width: 10%;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  height: 25px;
}

#blah {
  margin: 0%;
  width: 190px;
  height: 190px;
  align-self: center;
  margin-top:20px;
}

.purpleButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #9b59b6;
  border: none;
  border-radius: 25px;

}
.purpleCornerButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #9b59b6;
  border: none;
  border-radius: 25px;

}
.purpleButton:hover
{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.blueButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 25px;

}
.blueCornerButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 25px;

}
.blueCornerButton:hover{
  box-shadow: inset 0 0 0 2px white;

}
.purpleCornerButton:hover{
  box-shadow: inset 0 0 0 2px white;

}
.blueButton:hover
{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.gradient-text
{
  font-size: 80px;
  font-family: "Maven";
}
.profilePicture
{
  position: fixed;
  z-index: 999;
}
.labListItems .box
{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;

}
