body, html{
  /*background-color: #313440;*/
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header
{
  width: 100%;
  height: 110px;
  background-color: rgba(38,40,49,0.95);
  /*background-color: #242730;*/
  clear: all;
  border-bottom: 5px solid white;
}

.navbar img
{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: -12px;
  max-width: 35%;
  height: auto;

}
ul{
width: auto;
float: right;
margin-top: -2px;
}
.navbar{
  list-style: none;
  padding: 20px 0px 20px 0px;
}
#link{

  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 5px;
}



#link:hover{
  color: #4cffff;
  transition: 0.3s;
}
.nav > li{
  margin-top: 22px;
  display: inline-block;
  padding-right: 40px;
}
.current
{
  color: #4cffff;
}
.container{
  width: 90%;
  height: auto;
  padding-bottom: 5%;
  text-align: center;
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 25px 25px;
  margin: 13% auto;
  clear: both;
}
.container img
{
  width: 240px;
  height: 240;
  margin-top: -120px;
  margin-bottom: 30px;
  border-radius: 50%;

}
.elements
{
  font-family: "Arial";
  letter-spacing: 2px;
  color: white;
}
.labList
{
  float:left;
  padding-left: 20%;
}
.listItems
{
  float: right;
  padding-right: 20%;
  padding-top: 20px;
}

.helptext {
  color: white;
}

.submit
{
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 5px;
}

.required{
  position: static;
  align-self: center;
}

/* Comment Stream CSS */

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}

#subject1 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject1 .box {
  text-decoration:none;
  background-color:#9e2842;
}
#subject2 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject2 .box {
  text-decoration:none;
  background-color:#25876C;
}
#subject3 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

#subject3 .box {
  text-decoration:none;
  background-color:#90d1df;
}

.text{
  font-size: 65px;
  float: left;
  margin-top: 2%;
  margin-left: 20px;
}

.box {

    color: white;
    border-radius: 3%;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin:6.3%;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.box:hover{

        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
}

hr
{
  width: 90%;
}
