html{
  /*background-color: #313440;*/
  margin: 0;
  padding: 0;
}
* {
  font-family: "Dosis";
  z-index: .5;
}
p
{
  font-family: "Dosis";
}
html {
  background: url("backgrounds/mountains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header
{
  width: 100%;
  height: 110px;
  background-color: rgba(38,40,49,0.95);
  background-color: #242730;
  clear: all;
  border-bottom: 5px solid white;
  position: fixed;
  top: 0;
} */

.navbar img
{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: -12px;
  max-width: 35%;
  height: auto;
  z-index: 1;
}
/* ul{
width: auto;
float: right;
margin-top: -2px;
} */
/* .navbar{
  width: 100%;
  list-style: none;
  padding: 20px 0px 20px 0px;
  z-index: 1;
} */
#link{

  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 5px;
}

body
{
  margin: 0;
  padding: 0;
}

#link:hover{
  color: #4cffff;
  transition: 0.3s;
}
nav
{
  width: 100%;
  background-color: rgba(38,40,49,0.95);
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
}
#linkRef
{
  text-align: center;
  text-decoration: none;
  padding: 35px;
  margin-top: 20px;
  display: inline-block;
}
nav img
{
  float: left;
  padding: 15px;
}
nav ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  float: right;
  display: inline-block;
  text-align: center;
}
nav ul li:not(:last-child)
{
  border-right: 2px dashed #d2d5e4;
}
.responsive-bar
{
  width: 100%;
  background-color: rgba(38,40,49,0.95);
  padding: 10px 30px;
  box-sizing: border-box;
  display: none;
}
.responsive-bar img
{
  margin: 0;
  padding: 3px 0;
  color: #fff;
  float: left;
}
.responsive-bar h3
{
  margin: 0;
  padding: 0;
  color: #fff;
  float: right;
  padding: 5px 10px;
  background-color: #f2184f;
  text-transform: uppercase;
  cursor: pointer;
}
.responsive-bar button
{
float:right;
 vertical-align: middle;
  margin: 0;
  /* padding: 15px; */
  margin-top:45px;
  margin-bottom:10px;

}

@media (max-width:1000px)
{
  nav
  {
    display: none;
  }
  .responsive-bar
  {
    display: block;
  }
  nav img
  {
    display: block;
    float: none;
  }
  nav ul
  {
    float: none;
    display: block;
    border: none;

  }
  nav ul li:not(:last-child)
  {
    border-right: 2px none #d2d5e4;
  }
  nav ul li
  {
    text-align: center;
    padding: 15px 20px;
    display: block;
    border: none;
  }
  #linkRef
  {
    padding: 15px;
    display: block;
    margin-top: 0px;

  }
  img.logo
  {
    display: none;
  }
  @media (min-width:1000px)
  {
    nav
    {
      display: flex !important;
    }
    .responsive-bar
    {
      display: none;
    }
  }

}
/* .nav > li{
  margin-top: 22px;
  display: inline-block;
  padding-right: 40px;
} */
.current
{
  color: #4cffff;
}
.container{
  min-width: 150px;
  margin:150px 0 0;
  width: 90%;
  height: auto;
  padding-bottom: 5%;
  text-align: center;
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 25px 25px;
  margin: 10% auto;
  clear: all;
  margin-top: 140px;
}

.container img
{
  object-fit: cover;
  width: 240px;
  height: 240px;
  margin-top: -110px;
  margin-bottom: 30px;
  border-radius: 999em;
}
.container img:hover
{
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
#commentUserImage {
    float: left;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 25px;
}

.elements
{
  font-family: "Arial";
  letter-spacing: 2px;
  color: white;
  text-align: center;
  align-items: center;
  height: auto;
}
.labList
{
  float:left;
  padding-left: 20%;
}
.listItems
{
  float: right;
  padding-right: 20%;
  padding-top: 20px;
}

.helptext {
  color: white;
}

.submit
{
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.required{
  position: static;
}

.name {
  color: #4cffff;
  font-size: 50px;
}

.comment {
  min-width: 150px;
  width: auto;
  height: auto;
  padding: 1%;
  margin: 5%;

  /* Comment Text */
  font-size: 20px;
  text-align: justify;
  color: white;

  /* Comment Box */
  background-color: rgba(38,40,49,0.9);
  /* border: none; */
  border-radius: 50px 10px;
  clear: both;
}

.commentSubmission {
  /* Comment Box */
  min-width: 50%;
  height: auto;
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 10px 10px;
  display: inline-block;
  margin-left: 10%;
  padding: 1%;

  /* Comment Text */
  font-size: 20px;
  text-align: justify;
  color: white;
}

.commentSubmission #enrollButton {
  display: inline-block;
  min-width: 20px;
  max-width: 100px;
  height: auto;
  padding: 1%;
  margin: 5%;
  /* Comment Text */
  font-size: 20px;
  text-align: justify;
  color: white;
  /* Comment Box */
  height: 10%;
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 10px 10px;
  columns: 150;
}

.submitCommentButton {
  float: right;
  width: 150px;
  height: 50px;
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 10px;
  margin-right: 20%;
  top: 50%;
  right: 20%;
}

.submitCommentButton:hover {
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.sidebar-users {
  float: left;
  margin-top: 1px;
  margin-left: 0%;
  text-align: left;
  padding: none;
  list-style: none;
}

.id_file {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 10%;
}

#subject1 {
    width:100%;
    clear: both;
    margin:0 auto;
    text-align:left;
}

.text{
  font-size: 65px;
  margin-top: 10px;
  margin-left: 20px;
}
#add{
  font-size: 80px;
}
.box {
  text-decoration: none;
  justify-content: space-between;
  color: white;
  border-radius: 3%;
  display: inline-block;
  height: 270px;;
  width:  250px;
  margin:6.7%;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 270px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  z-index;
  padding: 0 1rem;
  transition: opacity 0.6s;
}
.box:hover{
  opacity: 1 !important;
  box-shadow: inset 0 0 0 5px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);

}
.labListItems:hover .box:not(:hover)
{
  opacity: .7;
}

hr
{
  width: 90%;
}

.icons
{
  padding: 0;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  background: #fff;
}

.icons ul
{
  position: absolute;
  top: 90%;
  left: 40%;
  bottom: 10%;
  transform: translate(-55%, 100%);
  margin: 10%;
  padding: 0;
  display: flex;
}
.icons ul li
{
  list-style: none;
  margin: 10px 80px;
}

.icons ul li a #fa
{
  font-size: : 40px;
  color: #fff;
  line-height: 80px;
  transition: .5s;
}

.icons ul li a
{
  float: left;
  font-size: 60px;
  position: absolute;
  display: block;
  width: 80px;
  height:80px;
  background: #fff;
  text-align: center !important;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}
.icons ul li a:before
{
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.icons ul li a:after
{
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}
.icons ul li a:hover
{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
}


.icons ul li:nth-child(1) a
{
  color: #fff;
  background: #3b5999;
}

.icons ul li:nth-child(1)::before a
{
  color: #fff;
  background: #2e4a85;
}

.icons ul li:nth-child(1)::after a
{
  background: #4a69ad;
}
.icons ul li:nth-child(2) a
{
  background: #55acee;
}
.icons ul li:nth-child(3) a
{
  background: #dd4b39;
}
.icons ul li:nth-child(4) a
{
  background: #0077b5;
}
.icons ul li:nth-child(5) a
{
  background: #e4405f;
}
/* .hoverUnderLine{
  display: inline-block;
  text-align: center;
  position: relative;
  color: #9b59b6;
}
.hoverUnderLine::after {
  content: ' ';
  position: absolute;
  width: 77%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9b59b6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hoverUnderLine:hover::after {
  transform: scaleX(1);
  transform-origin:bottom left;
} */

input {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  align-self: center;
}

#id_username {
  align-self: center;
}

.registerList {
  text-align: center;
  list-style-type: none;
  align-self: center;
  float: none;
}

label {
  margin-left:
}

.redtext {
  colour: rgb(214, 0, 0)
  /* font-size: 10 */
}

.setup_profile{
  width:25%;
  padding:10px;
}

.setup_bio{
  width:30%;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  padding: 10px;
}

.setup_dropdown {
  width: 10%;
  border-radius: 25px;
  border: 2px solid #4d4d4d;
  height: 25px;
}

#blah {
  margin: 0%;
  width: 190px;
  height: 190px;
  align-self: center;
  margin-top:20px;
}

.purpleButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #9b59b6;
  border: none;
  border-radius: 25px;

}
.purpleCornerButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #9b59b6;
  border: none;
  border-radius: 25px;

}
.purpleButton:hover
{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.blueButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 25px;

}
.blueCornerButton
{
  min-width: 48%;
  min-height: 48%;
  padding: 15px 25px;
  color: #fff;
  background-color: #0EBFE9;
  border: none;
  border-radius: 25px;

}
.blueCornerButton:hover{
  box-shadow: inset 0 0 0 2px white;

}
.purpleCornerButton:hover{
  box-shadow: inset 0 0 0 2px white;

}
.blueButton:hover
{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.section
{
  text-align: center;
}
.table{
  font-size: 32px;
  display: inline-table;
}
.gradient-text
{
  padding-top: -40px;
  font-size: 80px;
  font-family: "Maven";
}
.profilePicture
{
  position: fixed;
  z-index: 999;
}

.labPicture {
  min-width: 150px;
  width: auto;
  height: auto;
  padding: 1%;
  margin: 5%;

  /* Comment Text */
  font-size: 20px;
  text-align: justify;
  color: white;
  /* text-indent: 50px; */

  /* Comment Box */
  background-color: rgba(38,40,49,0.9);
  border: none;
  border-radius: 10px 10px;
  clear: both;
}

.labListItems .box
{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;

}
table

{
  text-align: center;
}

.row
{
  padding: 5px;
}
.bodyDiv
{
  /*align-items: left;*/
  margin:0;
  padding: 0;
  height: auto;
  /* margin-top: 40px; */
  margin: 40px;
  padding: 40px;
  justify-self: center;
  display: inline-block;
  /* padding: 10px 10px; */
  clear: all;
  /* background: #250008; */
}
.card
{
  -webkit-column-gap: 40px;
  column-gap: 40px;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  position: relative;
  justify-content: space-between;
  display: inline-block;
  /* float: left; */
  /* margin: 40px 40px 0 55px; */
  /* border-radius: 20px; */
  /* top: 50%;s
  left: 50%;
  transform: translate(-50%, 0%); */

  width: 270px;
  height: 320px;
  margin: 50px;
  padding: 0;
  clear:both;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  /* padding-top:10px; */
  /* border-radius: 25px; */
  /* display: block; */
}


.card .cardImage
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 25px; */
  border-radius: 15px;

}
.card .cardImage img
{
  margin-top: 0px;
  border-radius: 0;

  width: 270px;
  height: 320px;
  transition: .5s;
}
.card:hover .cardImage img
{
  opacity: .5;
  transform: translateX(30%);
  /* border-radius: 25px; */


}
.card .details
{
position: absolute;
top: 0;
left: 0;
width: 70%;
height: 100%;
/* background: #25876c; */
transition: .5s;
transform-origin: left;
transform: perspective(2000px) rotateY(-90deg);
border-radius: 15px 0 0 15px;
}
.card:hover .details
{
  transform: perspective(2000px) rotateY(0deg);

}
.card a:link {
  text-decoration: none !important;
}
.card .details .center
{

  padding: 20px;
  text-align: center;
  /* background: #25876c; */
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card .details .center h1
{
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span
{
  font-size: 14px;
  color: #000;
}
.friendDetails
{
  color: black;
}

.card .details .center h1 p
{
  list-style: none;
  text-decoration: none;
  margin: 10px 0;
  padding: 0;
  color: #000 !important;
}

.card .details .center ul
{
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;

}
.card .details .center ul li
{
  list-style: none;
  margin: 0 5px;
  float: left;

}
.card .details .center ul li a
{
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: .5s;
}
.card .details .center ul li a:hover
{
  background: #ff3636;
}
.grid
{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas:
  "socialMediaSection mainSection labsSection"
  "socialMediaSection mainSection labsSection"
  "socialMediaSection mainSection friendsSection"
  "socialMediaSection mainSection friendsSection";
}

.grid span
{
  font-size: 50px;
  margin-top: 5%;
  text-decoration: underline;
}

.grid p {
  font-size: 30px;
  grid-gap: 10px;
}
.grid ul li
{
  font-size: 25px;
  letter-spacing: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -35px;
  list-style: none;
  text-align: center;
}
.mainSection
{
  grid-area: mainSection;
  grid-gap:20px;
}
.friendsSection
{
  grid-area: friendsSection;
  grid-gap: 20px;
}
.labsSection
{
  grid-area: labsSection;
}
.socialMediaSection
{
  grid-area: socialMediaSection;
  justify-self: center;
  grid-gap: 20px;
}
.btn {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #0EBFE9;
    border: none;
    color: white;
    padding: 12px 16px;
    margin: 35px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

}
.btn:hover{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);

}

@media screen and (max-width:1000px) {
  .grid
  {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    grid-template-areas:
    "mainSection"
    "friendsSection"
    "labsSection"
    "socialMediaSection";
  }
}
.socialMediaSection
{
  margin-left: -35px;
  align-items: center;
}
.socialMediaSection span
{
  margin-left: 35px;
}
.socialMediaSection ul
{
  border-radius: 999em;

}
.socialMediaSection ul li
{
  background: rgba(0,0,0,.3);
  border-radius: 15px;
  text-align: center;
  font-size: 40px;
  top: 25px;
  width: 100px;
  height: 100px;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 40px;
  transition: .5s ease;
}
.socialMediaSection ul li:hover
{
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);


}
#facebook:hover
{
  background: #3b5998;
}
#twitter:hover
{
  background:#55acee;
}
#linkedin:hover
{
  background:#007bb5;
}
#github:hover
{
  background:#000;
}
#instagram:hover
{
  background:#e95950;
}
.socialMediaSection ul li a
{
  display: block;
  padding: 20px;
  align-items:center;
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: #d3d3d3;
  top:25px;
  left: 25px;
}
.socialMediaSection ul li a:hover
{
  color: #fff;
}

.name h3 {
  font-family: "Dosis";
  margin: 0;
}
