body {
  background: rgb(38, 38, 38);
}
*
{
  font-family: "Arial";
  font-size: 100%;
}
.sign-up
{
  font-family: "Arial";
  font-weight: bold;
  color: #2379f7;
}
.sign-up:hover
{
  color: #4cffff;
}
.welcome {
  font-family: "Arial";
  text-align: center;
  letter-spacing: 10px;
  font-size: 400pt;
  font-size: 4.5rem;
  font-weight: bold;
  color: rgb(232, 232, 232);
}

@font-face {
  font-family: "Gotham"
  src:url(css/fonts/Gotham_Bold.ttf)format("ttf");
}

input {
  box-sizing: border-box;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  align-self: center;
  margin-left: 35%
}

button {
  width: 10%;
  padding: 12px 20px;
  margin-top: 50px;
  margin-left: 45%;
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: solid;
  border-top-width: 1px;
}
.inputform
{
  font-size: 16pt;
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: solid;
  border-top-width: 1px;
}
.inputform:focus
{
  outline: none;
}
img.logo {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
    float: left;
}

img.gif

{
  display: block;
  float: right;
  margin-left: auto;
}

hr {
  clear: both;
    display: block;
    height: 4px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text {
  text-align: center;
  color: white;
}

a {
  margin-left: 47.5%;
  color: green;
  font-size: 28px;
}

.mouse-cursor-gradient-tracking {
  position: relative;
  background: #2379f7;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4cffff, transparent);
  transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 1000px;
}

#header_links li{
  display: inline;
}

#header_links a {
  text-decoration: none;
  position: relative;
  padding-left: 100px;
  color: #b8bec5;
}

.L1 {
  margin-left: 10%;
}

.HLB {
  margin-left: 10%;
  border-left: 5px solid #b8bec5;
}
